.price_details {
  display: flex;
  justify-content: space-between;
}
.price_details p {
  font-weight: 400;
  color: #333;
}
.price_details h6 {
  font-weight: bold;
  color: #222;
}
.cart_pricing h3 {
  font-size: 18px;
  color: #222;
  font-weight: bold;
}
.btn-myn {
  background: #ff3f6c;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  width: 100%;
}
