<div class="row m-5 p-5">
  <div class="col-4">
    <!-- <form class="my-3">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="phone"
          [(ngModel)]="phone"
        />
        <!-- Two way data binding -->
    <!-- </div>
      <button
        type="button"
        (click)="checkPhoneNumber()"
        class="btn btn-outline-primary"
      >
        Check Mobile Number
      </button>
      {{ message }}
    </form> -->
    <!-- <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          name="pass"
          [(ngModel)]="pass"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>

      <button type="button" (click)="checkEmail()" class="btn btn-primary">
        Submit
      </button>
    </form> -->
    <ul>
      <li>Name:{{ user.name }}</li>
      <li>Age:{{ user.age }}</li>
      <li>location:{{ user.location }}</li>
      <li>temperature:{{ user.temperature }}</li>
      <li>Interest:{{ user.interest }}</li>
      <li>Game:{{ user.game }}</li>
    </ul>
  </div>
</div>
