<div
  class="alert alert-warning alert-dismissible fade"
  [ngClass]="show ? 'show' : ''"
  role="alert"
>
  {{ string }}
  <button type="button" class="btn-close" (click)="closeAlert()"></button>
</div>

<div class="row justify-content-center my-5 p-5">
  <div class="col-lg-6">
    <h3 class="my-3 text-center">Login</h3>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          [(ngModel)]="pass"
          id="exampleInputPassword1"
        />
      </div>

      <button
        type="button"
        class="btn btn-primary d-block"
        (click)="checkLogin()"
      >
        Login
      </button>

      <p class="form-text">
        New User ?
        <a routerLink="/register" class="my-4"> Register</a>
      </p>
    </form>
  </div>
</div>
