.footer_list {
  list-style: none;
  margin: 5px 0;
  padding: 2px 0;
}
.footer_links {
  margin: 5px 0;
}
.footer_img {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.circle-cart {
  width: 15px;
  height: 15px;
  background-color: #ff3f6c;
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  color: white;
  right: 0fr;
  border-radius: 50%;
  z-index: 1;
}
/* .cartBtn {
  position: relative;
} */
