<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      >{{ title }}</a
    >
    <!-- this is one way binding -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Book Tour</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/training">Training's</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <button class="btn ms-4" [routerLink]="['/cart']">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          fill="#fff"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"
          />
        </svg>
      </button>
      <button
        *ngIf="!isLogin"
        class="btn btn-outline-success ms-4"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Login
      </button>
      <button
        *ngIf="isLogin"
        class="btn btn-outline-danger ms-4"
        (click)="logout()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-child [name]="name"></app-child> -->
<footer class="bg-dark p-3 mt-5 text-light">
  <div class="row pt-3">
    <div class="col-4">
      <h3>Quick Deal</h3>
      <p class="pe-5 mt-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga
        consequatur, perferendis aspernatur accusantium quo illo! Quos illum
        saepe maiores aut.
      </p>
      <div class="footer_imgs">
        <img class="footer_img" src="../assets/gpay.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/amazon.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/apple.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/visa.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/master.png" alt="" srcset="" />
      </div>
    </div>
    <div class="col-4">
      <h5>Quick Links</h5>
      <ul class="footer_list">
        <li class="footer_links">Home</li>
        <li class="footer_links">About</li>
        <li class="footer_links">Products</li>
      </ul>
    </div>
    <div class="col-4">
      <h5>Let us help you</h5>
      <ul class="footer_list">
        <li class="footer_links">Terms</li>
        <li class="footer_links">Privacy Policy</li>
        <li class="footer_links">Returns</li>
        <li class="footer_links">Refund</li>
        <li class="footer_links">CustomerCare</li>
      </ul>
    </div>
    <p class="text-center">&copy; Quick Deals Limited 2022</p>
  </div>
</footer>
