<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a
      class="navbar-brand"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      >{{ title }}</a
    >
    <!-- this is one way binding -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Book Tour</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Products</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/training">Training's</a>
        </li> -->
      </ul>
      <!-- <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
      <ul class="navbar-nav mb-2 mb-lg-0" *ngIf="isLogin">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              width="34"
              height="34"
              src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairStraight&accessoriesType=Blank&hairColor=BrownDark&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Default&eyebrowType=Default&mouthType=Default&skinColor=Light"
            />
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="['/myorders']"
                >My Orders</a
              >
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
      <button
        class="btn position-relative cartBtn p-0 ms-2"
        [routerLink]="['/wishlist']"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:cc="http://creativecommons.org/ns#"
          xmlns:dc="http://purl.org/dc/elements/1.1/"
          xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
          height="24"
          class="me-2"
          viewBox="0 0 24 24"
          version="1.1"
          width="24"
        >
          <g transform="translate(0 -1028.4)">
            <path
              d="m7 1031.4c-1.5355 0-3.0784 0.5-4.25 1.7-2.3431 2.4-2.2788 6.1 0 8.5l9.25 9.8 9.25-9.8c2.279-2.4 2.343-6.1 0-8.5-2.343-2.3-6.157-2.3-8.5 0l-0.75 0.8-0.75-0.8c-1.172-1.2-2.7145-1.7-4.25-1.7z"
              fill="#ff3f6c"
            />
          </g>
        </svg>
      </button>
      <button class="btn position-relative cartBtn" [routerLink]="['/cart']">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          fill="#fff"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm1.336-5l1.977-7h-16.813l2.938 7h11.898zm4.969-10l-3.432 12h-12.597l.839 2h13.239l3.474-12h1.929l.743-2h-4.195z"
          />
        </svg>
        <span class="circle-cart">
          {{ cart.products.length }}
        </span>
      </button>
      <button
        *ngIf="!isLogin"
        class="btn btn-outline-success ms-4"
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
      >
        Login
      </button>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<!-- <app-child [name]="name"></app-child> -->
<footer class="bg-dark p-3 mt-5 text-light">
  <div class="row pt-3">
    <div class="col-4">
      <h3>Quick Deal</h3>
      <p class="pe-5 mt-3">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga
        consequatur, perferendis aspernatur accusantium quo illo! Quos illum
        saepe maiores aut.
      </p>
      <div class="footer_imgs">
        <img class="footer_img" src="../assets/gpay.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/amazon.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/apple.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/visa.png" alt="" srcset="" />
        <img class="footer_img" src="../assets/master.png" alt="" srcset="" />
      </div>
    </div>
    <div class="col-4">
      <h5>Quick Links</h5>
      <ul class="footer_list">
        <li class="footer_links">Home</li>
        <li class="footer_links">About</li>
        <li class="footer_links">Products</li>
      </ul>
    </div>
    <div class="col-4">
      <h5>Let us help you</h5>
      <ul class="footer_list">
        <li class="footer_links">Terms</li>
        <li class="footer_links">Privacy Policy</li>
        <li class="footer_links">Returns</li>
        <li class="footer_links">Refund</li>
        <li class="footer_links">CustomerCare</li>
      </ul>
    </div>
    <p class="text-center">&copy; Quick Deals Limited 2022</p>
  </div>
</footer>
