<div class="container mx-4">
  <div class="products my-5">
    <div class="row g-3">
      <div class="col-3 bg-white p-3">
        <h5 class="fw-bold mt-2">Filters</h5>
        <label for="customRange1" class="form-label">Price Range</label>
        <input
          type="range"
          min="0"
          max="200000"
          class="form-range"
          step="1000"
          id="customRange1"
          [(ngModel)]="range"
        />
        <label for="customSearch" class="form-label mt-3">Search Product</label>
        <input
          type="search"
          class="form-control"
          id="customSearch"
          [(ngModel)]="search"
        />
        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="radio"
            name="category"
            value="electronics"
            id="flexCheckDefault"
            [(ngModel)]="category"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Electronics
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="category"
            [(ngModel)]="category"
            value="mens"
            id="flexCheckChecked"
          />
          <label class="form-check-label" for="flexCheckChecked"> Mens </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="category"
            value="women"
            [(ngModel)]="category"
            id="Women"
          />
          <label class="form-check-label" for="Womens"> Womens </label>
        </div>
        <div class="form-check">
          <input
            [(ngModel)]="category"
            class="form-check-input"
            type="radio"
            name="category"
            value="kids"
            id="kids"
          />
          <label class="form-check-label" for="kids"> Kids </label>
        </div>
        <p class="my-2 mx-2">Rating</p>
        <div class="d-flex mb-3 mx-1">
          <svg
            [ngClass]="rating >= 1 ? 'filled' : ''"
            (click)="setRating(1)"
            class="rating-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"
            />
          </svg>
          <svg
            [ngClass]="rating >= 2 ? 'filled' : ''"
            class="rating-icon"
            (click)="setRating(2)"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"
            />
          </svg>
          <svg
            (click)="setRating(3)"
            [ngClass]="rating >= 3 ? 'filled' : ''"
            class="rating-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"
            />
          </svg>
          <svg
            [ngClass]="rating >= 4 ? 'filled' : ''"
            class="rating-icon"
            (click)="setRating(4)"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"
            />
          </svg>
          <svg
            [ngClass]="rating >= 5 ? 'filled' : ''"
            class="rating-icon"
            (click)="setRating(5)"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M12 .288l2.833 8.718h9.167l-7.417 5.389 2.833 8.718-7.416-5.388-7.417 5.388 2.833-8.718-7.416-5.389h9.167z"
            />
          </svg>
        </div>
        <!-- <div>
          <ngx-star-rating [(ngModel)]="rating"></ngx-star-rating>
        </div> -->
        <div class="d-flex mt-4 justify-content-between">
          <button
            class="btn btn-outline-success text-center w-100 me-2"
            (click)="searchTheProducts()"
          >
            Filter
          </button>
          <button
            class="btn btn-outline-danger text-center w-100"
            (click)="resetProducts()"
          >
            Reset
          </button>
        </div>
      </div>
      <div class="col-9">
        <div class="row g-4">
          <div
            class="col-md-3 col-lg-3 col-sm-4"
            *ngFor="let item of products | async"
          >
            <div
              class="card animate__animated animate__fadeInUp"
              [routerLink]="['/products/' + item.id]"
            >
              <img src="{{ item.img }}" class="card_img" alt="" width="100%" />
              <div class="card-body">
                <h3 class="card_brand">{{ item.brand }}</h3>
                <h4 class="card_title">{{ item.name }}</h4>
                <h3 class="card_brand">Rs. {{ item.price }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
